.certi_box{

    margin-top: 30px;
    padding-bottom: 100px;
    padding-top: 2px;
    background-color: whitesmoke;
}
.certi_box h1{
    text-align: center;
    font-size: 2.5rem;
    width:280px;
    text-align: center;
    background-color:var( --box1-bg-color);
    color: whitesmoke;
    border-radius: 10px;
    margin: 50px auto;
}
@media screen and (max-width: 768px) {
    .certi_box{
        padding-bottom: 0px;
        position: static;
        padding-top: 0px;
    }
    .certi_box h1{
        margin: 20px auto;
    }
  }