.contact_box{
    width: 100%;
    text-align: center;
    color: whitesmoke;
   padding-bottom: 10px;


}
/* .contact_box h1{
   
    font-size: 2.5rem;
    width:200px;
    color: whitesmoke;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.483);
    border-radius: 10px;
    margin: auto;
} */
.contact_container{
    display: flex;
    padding: 50px 0 ;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .contact_box{
        position: static;
        padding: 10px 0;
        padding-bottom: 50px;
    }
    .contact_container{
        margin-top: 50px;
       padding: 10px;
    }
    
 
}