.form_box{
    width:400px;
    margin-top: 50px;
    padding-left: 50px;
    margin: auto;
}

.form_box form{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.form_box input{
    width:100%;
    margin: auto;
    padding:10px;
    border-radius: 5px;
}
.form_box textarea{
    border-radius: 5px;
    padding: 10px;
}
.form_box button{
    padding:10px;
    color: whitesmoke;
    background-color: black;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}
.form_box button:hover{
    background-color: rgba(0, 0, 0, 0.901);
}
@media screen and (max-width: 768px) {
    .form_box{
        width: 100%;
        padding: 10px;
        border-left:none ;
        padding-top: 30px;
        border-top: 2px solid whitesmoke;
    }
    .form_box button{
      
        font-size: 1.1rem;
    }
    .form_box textarea{
        height: 120px;
    }
}
