.content_box{
    padding-top: 10px;
    width: 90%;
    min-width: 300px;
   
}
.content_box h3{
    font-size: 1.2rem;
    text-align: left;
    padding-bottom: 10px;
}

.solidstar:hover{
   color: yellow;
}
@media only screen and (max-width: 600px) {
   .content_box{
    width: 100%;
   }
}
