.rating{
    display: flex;
    justify-content: space-between;
   padding: 5px 0;
    
}
.rating h6{
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--extradarkcream);
}
.r_box{
    margin-top: 2px;
}
.r_box i{
    color: var(--extradarkcream);
}